extends layout

block content
    .row
        .col.s4
            .card
                .card-image
                    img(src=item.item_image)
        .col.s4
                    p= item.item_brand
                    P= item.item_title
                    p= "$"+item.price

                        br
                        br
                    p= item.brief
                        br
                        br

                    p="Designer Style ID: "+ item.vendor_code
                        br
                    p="Colour: "+ item.item_color
                        br
                    p="Size: "+ item.size.name
                    p= item.description
                    .card-action
                        a.waves-effect.waves-light.btn(href='#') add to bag
                            i.medium.material-icons shopping_basket